<mat-card>
  <mat-card-title>
    <div layout="row">
      <span>New project</span>
      <span flex></span>
      <button mat-raised-button class="iconBtn-lg" color="accent" [routerLink]="['/']">
        <mat-icon>home</mat-icon>
      </button>
    </div>
  </mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <p>Give to the project a name and then, the first execution by updating it or posting an url.</p>
    <mat-vertical-stepper [linear]="true">
      <mat-step>
        <form>
          <ng-template matStepLabel>Fill out the name of the project</ng-template>
          <mat-form-field>
            <input matInput
                   maxlength="20"
                   name="Name of the project"
                   onclick="this.select()"
                   placeholder="Name of the project"
                   required
                   type="text"
                   [(ngModel)]="project.name">
          </mat-form-field>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Select a way to import the first execution of this project.</ng-template>
        <mat-tab-group>
          <mat-tab label="Choose files">
            <div layout="row">
              <div flex="50">
                <p>Choose the file which contains the logs of the execution...</p>
                <td-file-upload #txtFileUpload
                                accept=".txt"
                                required
                                (cancel)="cancel()"
                                (select)="update($event)"
                                (update)="update($event)">
                  <mat-icon>file_upload</mat-icon>
                  <span>{{txtFileUpload.value?.name}}</span>
                  <ng-template td-file-input-label>
                    <mat-icon>attach_file</mat-icon>
                    Choose a .txt file...
                    <span [hidden]="!txtFileUpload?.required">*</span>
                  </ng-template>
                </td-file-upload>
              </div>
              <div class="pad-top">
                <mat-divider class="divider-vertical"></mat-divider>
              </div>
              <div class="pad-left">
                <p>Choose the file which contains the Surfire data...</p>
                <td-file-upload #xmlFileUpload
                                accept=".xml"
                                (cancel)="cancel()"
                                (select)="update($event)"
                                (update)="update($event)">
                  <mat-icon>file_upload</mat-icon>
                  <span>{{xmlFileUpload.value?.name}}</span>
                  <ng-template td-file-input-label>
                    <mat-icon>attach_file</mat-icon>
                    Choose a .xml file...
                  </ng-template>
                </td-file-upload>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Paste URLs">
            <form>
              <div layout="row">
                <div flex="50">
                  <p>Paste the URL of the file which contains the logs of the execution...</p>
                  <mat-form-field>
                    <input matInput
                           name="URL of .txt file"
                           onclick="this.select()"
                           placeholder="URL of .txt file"
                           required
                           type="text"
                           [(ngModel)]="urlTxt">
                  </mat-form-field>
                </div>
                <div class="pad-top">
                  <mat-divider class="divider-vertical"></mat-divider>
                </div>
                <div class="pad-left">
                  <p>Paste the URL of the file which contains the Surfire data...</p>
                  <mat-form-field>
                    <input matInput
                           name="URL of .xml file"
                           onclick="this.select()"
                           placeholder="URL of .xml file"
                           type="text"
                           [(ngModel)]="urlXml">
                  </mat-form-field>
                </div>
              </div>
            </form>
          </mat-tab>
        </mat-tab-group>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Review and save</ng-template>
        The new project which name is <span class="md-title">{{project.name}}</span> will be created once you click on
        save button.
        The first execution of this project is provided by
        <span *ngIf="fileSelected; else notSelected" class="md-title">choosing files</span>
        <ng-template #notSelected>
          <span class="md-title">URL</span>
        </ng-template>
        and its content will be saved.
        <div layout="row">
          <button color="accent" layout-align="center center" mat-raised-button>Save
          </button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </mat-card-content>
</mat-card>
