<mat-card>
  <mat-card-title>
    <div layout="row">
      <span>New project</span>
      <span flex></span>
    </div>
  </mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <p>Give to the project a name and then, the first execution by updating it or posting an url.</p>
    <mat-vertical-stepper [linear]="true">
      <mat-step [stepControl]="nameStep">
        <form [formGroup]="nameStep">
          <ng-template matStepLabel>Fill out the name of the project</ng-template>
          <mat-form-field>
            <input formControlName="name"
                   matInput
                   maxlength="20"
                   placeholder="Name of the project"
                   required
                   type="text"
                   [(ngModel)]="project.name">
          </mat-form-field>
        </form>
      </mat-step>
      <mat-step [stepControl]="importStep">
        <ng-template matStepLabel>Select a way to import the first execution of this project.</ng-template>
        <mat-tab-group>
          <mat-tab label="Choose files">
            <div layout="row">
              <div flex="50">
                <p>Choose the file which contains the logs of the execution...</p>
                <td-file-upload #txtFileUpload
                                accept=".txt"
                                required
                                (cancel)="cancel()"
                                (select)="update($event)"
                                (update)="update($event)">
                  <mat-icon>file_upload</mat-icon><span>{{txtFileUpload.value?.name}}</span>
                  <ng-template td-file-input-label>
                    <mat-icon>attach_file</mat-icon>
                    Choose a .txt file...
                    <span [hidden]="!txtFileUpload?.required">*</span>
                  </ng-template>
                </td-file-upload>
              </div>
              <div class="pad-top">
                <mat-divider class="divider-vertical"></mat-divider>
              </div>
              <div class="pad-left">
                <p>Choose the file which contains the Surfire data...</p>
                <td-file-upload #xmlFileUpload
                                accept=".xml"
                                (cancel)="cancel()"
                                (select)="update($event)"
                                (update)="update($event)">
                  <mat-icon>file_upload</mat-icon><span>{{xmlFileUpload.value?.name}}</span>
                  <ng-template td-file-input-label>
                    <mat-icon>attach_file</mat-icon>
                    Choose a .xml file...
                  </ng-template>
                </td-file-upload>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Paste URLs">
            <form [formGroup]="importStep">
              <div layout="row">
                <div flex="50">
                  <p>Paste the URL of the file which contains the logs of the execution...</p>
                  <mat-form-field>
                    <input formControlName="urlTxt"
                           matInput
                           placeholder="URL of .txt file"
                           required
                           [(ngModel)]="urls.txt">
                  </mat-form-field>
                </div>
                <div class="pad-top">
                  <mat-divider class="divider-vertical"></mat-divider>
                </div>
                <div class="pad-left">
                  <p>Paste the URL of the file which contains the Surfire data...</p>
                  <mat-form-field>
                    <input matInput
                           placeholder="URL of .xml file"
                           [(ngModel)]="urls.xml">
                  </mat-form-field>
                </div>
              </div>
            </form>
          </mat-tab>
        </mat-tab-group>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Review and save</ng-template>
      </mat-step>
    </mat-vertical-stepper>
  </mat-card-content>
</mat-card>
