<td-layout-nav>
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <img src="../assets/icons/elastest-logo-dark.png">
    <span></span>
    <span flex></span>
    <button mat-icon-button matTooltip="Fullscreen" (click)="toggleFullscreen()">
      <mat-icon *ngIf="isFull; else notFull" mat-list-icon>fullscreen_exit</mat-icon>
      <ng-template #notFull>
        <mat-icon mat-list-icon>fullscreen</mat-icon>
      </ng-template>
    </button>
    <button mat-icon-button matTooltip="Docs" href="https://teradata.github.io/covalent/" target="_blank">
      <mat-icon>chrome_reader_mode</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Github" href="https://github.com/cvazquezlos/TestLogAnalyzer" target="_blank">
      <mat-icon svgIcon="assets:github"></mat-icon>
    </button>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </div>
  <breadcrumb id="bread" [allowBootstrap]="true"></breadcrumb>
  <router-outlet></router-outlet>
</td-layout-nav>
