.iconBtn-lg {
  min-width: initial !important;
  padding: 0 15px !important;
}

.divider-vertical {
  border-top-width: 0;
  border-right-width: 1px;
  border-right-color: #E0E0E0;
  border-right-style: solid;
  height: 100px;
}

.pad-left {
  padding-left: 10px;
}

.pad-top {
  padding-top: 10px;
}

.tab-input {
  background: transparent;
  border: none;
  border-bottom: 1px dashed #ffac2f;
  width: 100px;
  outline: none;
  padding: 0px 0px 0px 0px;
  font-style: italic;
}
