<header class="website-header website-header--transparent">
  <div class="container">
    <div class="grid">
      <div class="grid__item one-whole">
        <a href="/" class="website-header__logo">
          <img src="../../../assets/img/LogoLOGANALYZER2.png" srcset="../../../assets/img/LogoLOGANALYZER2.png"
               class="website-header__logo__img--mini" alt="Kayako Help Desk Software">
          <img src="../../../assets/img/LogoLOGANALYZER2.png"
               srcset="../../../assets/img/LogoLOGANALYZER2.png"
               class="website-header__logo__img--large website-header__logo__img--large--standard "
               alt="Kayako Help Desk Software">
        </a>
        <a href="#" class="website-header__mobile-menu-link no-js-scroll">
          Menu<img src="/_themes/novo/img/sitewide-icons/nav_icon--grey.svg"
                   class="website-header__mobile-menu-link__img">
        </a>
        <nav class="website-header__nav">
          <a href="#" class="website-header__mobile-menu-link--close no-js-scroll"><span>Close</span></a>
          <ul class="website-header__nav__list">
            <li class="website-header__nav__sub-wrapper">
              <a href="/help-desk-software/tour" class="activate-website-header__nav__sub--one">Product<img
                src="/_themes/novo/img/sitewide-icons/nav_icon_toggle.svg" class="website-header__nav__drop-down-icon"></a>
              <ul class="website-header__nav__sub website-header__nav__sub--one">
                <li><a href="/help-desk-software/tour">Tour</a></li>
                <li><a href="/help-desk-software/customer-journey">Journeys &amp; Conversations</a></li>
                <li><a href="/live-chat-software">Live Chat</a></li>
                <li><a href="/help-desk-software/knowledge-base">Self-service</a></li>
                <li><a href="/help-desk-software/scaling">Scale</a></li>
                <li><a href="/help-desk-software/social-customer-service">Social</a></li>
                <li><a href="/help-desk-software/integrations">Integrations</a></li>
                <li><a href="/help-desk-software/demo">Demo</a></li>
              </ul>
            </li>
            <li><a href="/pricing">Pricing</a></li>
            <li><a href="/customers">Customers</a></li>
            <li><a href="/blog">Blog</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
