<header class="website-header website-header--transparent">
  <div class="container">
    <div class="grid">
      <div class="grid__item one-whole">
        <a href="/" class="website-header__logo">
          <img src="/_themes/novo/img/kayako-logos/logo-mini.png" srcset="/_themes/novo/img/kayako-logos/logo-mini.svg"
               class="website-header__logo__img--mini" alt="Kayako Help Desk Software">
          <img src="/_themes/novo/img/kayako-logos/logo-standard.png"
               srcset="/_themes/novo/img/kayako-logos/logo-standard.svg"
               class="website-header__logo__img--large website-header__logo__img--large--standard "
               alt="Kayako Help Desk Software">
        </a>
        <a href="#" class="website-header__mobile-menu-link no-js-scroll">
          Menu<img src="/_themes/novo/img/sitewide-icons/nav_icon--grey.svg"
                   class="website-header__mobile-menu-link__img">
        </a>
        <nav class="website-header__nav">
          <a href="#" class="website-header__mobile-menu-link--close no-js-scroll"><span>Close</span></a>
          <a href="/free-trial"
             class="website-header__nav__cta bttn bttn--medium bttn--mango-bright js-track-trial-button">Start your free
            trial</a>
          <ul class="website-header__nav__list">
            <li class="website-header__nav__sub-wrapper">
              <a href="/help-desk-software/tour" class="activate-website-header__nav__sub--one">Product<img
                src="/_themes/novo/img/sitewide-icons/nav_icon_toggle.svg" class="website-header__nav__drop-down-icon"></a>
              <ul class="website-header__nav__sub website-header__nav__sub--one">
                <li><a href="/help-desk-software/tour">Tour</a></li>
                <li><a href="/help-desk-software/customer-journey">Journeys &amp; Conversations</a></li>
                <li><a href="/live-chat-software">Live Chat</a></li>
                <li><a href="/help-desk-software/knowledge-base">Self-service</a></li>
                <li><a href="/help-desk-software/scaling">Scale</a></li>
                <li><a href="/help-desk-software/social-customer-service">Social</a></li>
                <li><a href="/help-desk-software/integrations">Integrations</a></li>
                <li><a href="/help-desk-software/demo">Demo</a></li>
              </ul>
            </li>
            <li><a href="/pricing">Pricing</a></li>
            <li><a href="/customers">Customers</a></li>
            <li><a href="/blog">Blog</a></li>
            <li class="website-header__nav__sub-wrapper">
              <a href="/about" class="activate-website-header__nav__sub--two website-header__nav__more-link">More<img
                src="/_themes/novo/img/sitewide-icons/nav_icon_toggle.svg" class="website-header__nav__drop-down-icon"></a>
              <ul class="website-header__nav__sub website-header__nav__sub--two">
                <li><a href="/about">About Kayako</a></li>
                <li><a href="/about/team">Team</a></li>
                <li><a href="/about/careers">Careers</a></li>
                <li><a href="https://support.kayako.com/">Support</a></li>
                <li><a href="/contact">Contact</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
