<div class="content">
  <div class="row">
    <div class="col-md-12">
      <h1>Configuration of LOGANALYZER</h1>
      <p>This page allows you to change some LOGANALYZER parametters. As you must know, LOGANALYZER requires an
        Elasticsearch instance to work properly. Anyway, if you don't want to work with ES, you have another choice.</p>
      <h2>Elasticsearch instance</h2><br><br>
      <h3>1. elasticsearch.yml</h3><br>
      <div class="input-group">
        <span class="input-group-addon" id="1">http.port</span>
        <input type="text" class="form-control" placeholder="9200" aria-describedby="sizing-addon2">
      </div>
      <br>
      <div class="input-group">
        <span class="input-group-addon" id="2">network.host</span>
        <input type="text" class="form-control" placeholder="localhost" aria-describedby="sizing-addon2">
      </div>
    </div>
  </div>
</div>
