<div class="content">
  <div class="row">
    <div class="col-md-12">
      <h1>Configuration of LOGANALYZER</h1>
      <p>This page allows you to change some LOGANALYZER parametters. As you must know, LOGANALYZER requires an
        Elasticsearch instance to work properly. Anyway, if you don't want to work with ES, you have another choice.</p>
      <h2>Elasticsearch instance</h2><br><br>
      <h3>1. elasticsearch.yml</h3><br>
      <div class="input-group">
        <span class="input-group-addon">http.port</span>
        <input #port type="text" class="form-control" id="1" placeholder="9200" aria-describedby="sizing-addon2">
      </div>
      <br>
      <div class="input-group">
        <span class="input-group-addon">network.host</span>
        <input #host type="text" class="form-control" id="2" placeholder="localhost" aria-describedby="sizing-addon2">
      </div>
      <br>
      <div class="text-center">
        <button class="btn btn-success lineBigger" (click)="saveAllData(port.value, host.value)">Save changes</button>
      </div>
    </div>
  </div>
</div>
