<mat-card>
  <mat-card-title>
    <div layout="row">
      <span *ngIf="project.name != undefined">{{project.name}}</span>
      <span flex></span>
      <button class="iconBtn-lg  bgc-light-blue-100"
              mat-raised-button
              (click)="reloadTable(project.name)">
        <mat-icon class="tc-light-blue-700">refresh</mat-icon>
      </button>&nbsp;
      <button mat-raised-button class="iconBtn-lg" color="accent" [routerLink]="['/']">
        <mat-icon>home</mat-icon>
      </button>&nbsp;
      <button mat-raised-button color="accent" (click)="addExec()">New exec</button>
    </div>
  </mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <td-data-table [clickable]="true"
                   [data]="execsRowData"
                   [columns]="execsData"
                   [sortable]="false">
      <ng-template *ngFor="let column of execsData" tdDataTableTemplate="{{column.name}}" let-value="value"
                   let-row="row">
        <div *ngIf="column.name !== 'options'" (click)="viewExec(row)">{{value}}</div>
      </ng-template>
      <ng-template tdDataTableTemplate="options" let-value="value" let-row="row" let-column="column">
        <div layout="row">
          <button class="iconBtn-lg"
                  mat-button
                  stopRowClick
                  title="Delete execution"
                  (click)="delete(row)"
                  [disabled]="deletingInProgress">
            <mat-icon>delete</mat-icon>
          </button>
          <button class="iconBtn-lg"
                  mat-button
                  stopRowClick
                  title="View execution"
                  (click)="viewExec(row)">
            <mat-icon>remove_red_eye</mat-icon>
          </button>
        </div>
      </ng-template>
    </td-data-table>
  </mat-card-content>
</mat-card>
