<td-layout>
  <td-layout-manage-list #manageList
                         opened="true"
                         mode="side">
    <mat-toolbar td-sidenav-content color="accent">
      <span class="cursor-pointer title left">Logs</span>
      <a mat-icon-button matTooltip="Go to comparisons" class="no-margin icon" [routerLink]="['/comparison']">
        <mat-icon class="title">web</mat-icon>
      </a>
    </mat-toolbar>
    <mat-nav-list td-sidenav-content [tdLayoutManageListClose]="!media.query('gt-sm')">
      <ng-template tdLoading [tdLoadingUntil]="loadingNavbar" tdLoadingStrategy="overlay" tdLoadingType="linear">
        <ng-template let-item let-last="last" ngFor [ngForOf]="navmenu">
          <h3 matSubheader class="exec-name">{{item.title}}</h3>
          <a matTooltip={{item.tip}} mat-list-item (click)="loadInfo(0, item.id)">
            <mat-icon>{{item.icon}}</mat-icon>
            <h3 matLine class="clickable">&nbsp;&nbsp;&nbsp;&nbsp;All</h3>
          </a>
          <ng-template let-elem ngFor [ngForOf]="item.classes">
            <h3 matSubheader class="classname">{{elem.shortname}}</h3>
            <ng-template let-method ngFor [ngForOf]="elem.methods">
              <a matTooltip="Show concrete test {{method.name}}" mat-list-item (click)="loadInfo(2, item.id, method.name)">
                <mat-icon>{{method.icon}}</mat-icon>
                <h3 matLine class="clickable">&nbsp;&nbsp;&nbsp;&nbsp;{{method.name}}</h3>
              </a>
            </ng-template>
          </ng-template>
          <mat-divider matInset *ngIf="!last"></mat-divider>
        </ng-template>
      </ng-template>
    </mat-nav-list>
    <mat-toolbar color="accent">
      <div layout="row" layout-align="start center" flex>
        <button mat-icon-button tdLayoutManageListOpen [hideWhenOpened]="true">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <span class="title">Log</span>
        <span flex></span>
        <a *ngIf="mavenMessages; else defMaven" mat-icon-button matTooltip="Show Maven?" (click)="maven()">
          <mat-icon class="icon-maven active"></mat-icon>
        </a>
        <ng-template #defMaven>
          <a mat-icon-button matTooltip="Show Maven?" (click)="maven()">
            <mat-icon class="icon-maven title"></mat-icon>
          </a>
        </ng-template>
      </div>
    </mat-toolbar>
    <div *ngIf="active; else default">
      <ng-template tdLoading [tdLoadingUntil]="loadingData" tdLoadingStrategy="overlay" tdLoadingType="linear">
        <div tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
          <mat-card *ngIf="active; else default">
            <td-data-table
              #dataTable
              [data]="dataRowData"
              [columns]="dataColumnDefs"
              [selectable]="false"
              [multiple]="false"
              [clickable]="false"
              [sortable]="true"
              [sortBy]="dataSortBy"
              [sortOrder]="dataSortOrder"
              (sortChange)="sort($event)"
              [style.width.%]="100">
            </td-data-table>
          </mat-card>
        </div>
      </ng-template>
    </div>
    <ng-template #default>
      <mat-card>
        <mat-card-content>
          <p>Select any execution or test displayed on the left list to see its logs.</p>
        </mat-card-content>
      </mat-card>
    </ng-template>
  </td-layout-manage-list>
</td-layout>
