<div style="width: 100%">
  <div style="padding: 4px;">
    <div style="float: right;">
      <input (keyup)="onQuickFilterChanged($event)" type="text" id="quickFilterInput"
             placeholder="Type text to filter..."/>
      <button [disabled]="!showGrid" (click)="showGrid=false">Destroy Grid</button>
      <button [disabled]="showGrid" (click)="showGrid=true">Create Grid</button>
    </div>
  </div>

  <div *ngIf="showGrid">
    <ag-grid-angular style="width: 100%; height: 350px;"
                     class="ag-fresh resizable"

                     [rowData]="rowData"
                     [columnDefs]="columnDefs"
                     [gridOptions]="gridOptions"
                     [showToolPanel]="true"

                     [enableColResize]="true"
                     [enableFilter]="true"
                     [enableSorting]="true"
                     [suppressRowClickSelection]="true"
                     [toolPanelSuppressValues]="true"
                     [debug]="true"

                     (gridReady)="onGridReady($event)">
    </ag-grid-angular>
  </div>
</div>
