<div style="width: 100%">
  <div style="padding: 4px;">
    <div style="float: right;">
      <input (keyup)="onQuickFilterChanged($event)" type="text" id="quickFilterInput"
             placeholder="Type text to filter..."/>
      <button [disabled]="!showGrid" (click)="showGrid=false">Destroy Grid</button>
      <button [disabled]="showGrid" (click)="showGrid=true">Create Grid</button>
    </div>
  </div>

  <div *ngIf="showGrid; else emptyGrid">
    <ag-grid-angular style="width: 80%; height: 350px;"
                     class="ag-fresh resizable"

                     [rowData]="rowData"
                     [columnDefs]="columnDefs"
                     [gridOptions]="gridOptions"
                     [showToolPanel]="true"

                     [debug]="true"
                     [enableColResize]="true"
                     [enableSorting]="true"
                     [suppressAutoSize]="false"
                     [minColWidth]="40"
                     [rowHeight]="22"
                     [suppressRowClickSelection]="true"
                     [toolPanelSuppressValues]="true"

                     (gridReady)="onGridReady($event)"
                     (cellClicked)="onCellClicked($event)"
                     (cellDoubleClicked)="onCellDoubleClicked($event)"
                     (cellContextMenu)="onCellContextMenu($event)"
                     (cellFocused)="onCellFocused($event)"
                     (rowSelected)="onRowSelected($event)"
                     (beforeFilterChanged)="onBeforeFilterChanged()"
                     (afterFilterChanged)="onAfterFilterChanged()">
    </ag-grid-angular>
  </div>
  <ng-template #emptyGrid>
    <img src="../../assets/img/Magnify.svg" style="margin-left: 45%; width: 5%;">
  </ng-template>
</div>
