<footer class="footer-distributed">
  <div class="footer-right">
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="https://github.com/cvazquezlos/LOGANALYZER" target="_blank"><i class="fa fa-github"></i></a>
  </div>
  <div class="footer-left">
    <p class="footer-links">
      <a href="#">Home</a>
      ·
      <a href="#">Config</a>
      ·
      <a href="#">Docs</a>
    </p>
    <p>Loganalyzer &copy; 2017</p>
  </div>
</footer>
