<td-layout>
  <td-layout-manage-list #manageList
                         opened="true"
                         mode="side">
    <mat-toolbar td-sidenav-content color="accent">
      <span class="cursor-pointer title left">Tests</span>
      <a mat-icon-button matTooltip="Return home" class="no-margin icon" [routerLink]="['/']">
        <mat-icon class="title">home</mat-icon>
      </a>
    </mat-toolbar>
    <mat-nav-list td-sidenav-content [tdLayoutManageListClose]="!media.query('gt-sm')">
      <ng-template let-item let-last="last" ngFor [ngForOf]="methods">
        <a mat-list-item [class]="item.class" (click)="methodSelected(item)">
          <mat-icon matListIcon>{{item.icon}}</mat-icon>
          {{item.title}}
        </a>
      </ng-template>
    </mat-nav-list>
    <mat-toolbar color="accent">
      <div layout="row" layout-align="start center" flex>
        <button mat-icon-button tdLayoutManageListOpen [hideWhenOpened]="true">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <span class="title">Comparisons</span>
        <span flex></span>
      </div>
    </mat-toolbar>
    <div *ngIf="showResults">
      <div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
        <mat-card>
          <mat-card-title>Comparison between executions</mat-card-title>
          <mat-divider></mat-divider>
          <mat-card-content>
            <table class="diff-table">
              <tbody>
                <tr *ngFor="let result of results">
                  <td [innerHTML]="result.index" class="index"></td>
                  <td [innerHTML]="result.com_p.content" [class]="result.com_p.class"></td>
                  <td [innerHTML]="result.index" class="index"></td>
                  <td [innerHTML]="result.comp.content" [class]="result.comp.class"></td>
                </tr>
              </tbody>
            </table>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div *ngIf="active; else default">
      <div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
        <div flex-gt-sm="50">
          <mat-card>
            <mat-card-title>
              Comparator execution
            </mat-card-title>
            <mat-card-subtitle>
              <ng-template let-execC ngFor [ngForOf]="execsComparator">
                <button (click)="comparator(execC)" [class]="execC.class">{{execC.id}}</button>
              </ng-template>
            </mat-card-subtitle>
            <mat-divider></mat-divider>
            <mat-card-content>
              <codemirror [(ngModel)]="comparatorText" [config]="config"></codemirror>
            </mat-card-content>
          </mat-card>
        </div>
        <div flex-gt-sm="50">
          <mat-card>
            <mat-card-title>Comparated execution</mat-card-title>
            <mat-card-subtitle>
              <ng-template let-execc ngFor [ngForOf]="execsCompared">
                <button (click)="compared(execc)" [class]="execc.class">{{execc.id}}</button>
              </ng-template>
            </mat-card-subtitle>
            <mat-divider></mat-divider>
            <mat-card-content>
              <codemirror [(ngModel)]="comparedText" [config]="config"></codemirror>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div class="full-width">
        <button class="find" (click)="generateComparison()">Find difference</button>
      </div>
      <pre class="not-displayed" #process processingDiff [left]="comparatorText" [right]="comparedText"></pre>
    </div>
    <ng-template #default>
      <div tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
        <mat-card>
          <mat-card-content>
            <p>Select a test to start comparing executions.</p>
          </mat-card-content>
        </mat-card>
      </div>
    </ng-template>
  </td-layout-manage-list>
</td-layout>
