.execs {
  background-color: rgb(195, 195, 195);
  border: none;
  color: #0e0e0e;
  padding: 3px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3em;
}

.active {
  background-color: rgb(25, 118, 210);
  border: none;
  color: white;
  padding: 3px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3em;
}

.find {
  background-color: rgb(251, 140, 0); /* Green */
  font-size: 21px;
  border: none;
  color: white;
  padding: 0.5em 0.8em;
  border-radius: 0.2em;
  width: auto;
}
