<td-layout>
  <td-layout-manage-list #manageList
                         opened="true"
                         mode="side">
    <mat-toolbar td-sidenav-content color="accent">
      <span class="cursor-pointer title left">Tests</span>
      <a mat-icon-button matTooltip="Return home" class="no-margin icon" [routerLink]="['/']">
        <mat-icon class="title">home</mat-icon>
      </a>
    </mat-toolbar>
    <mat-nav-list td-sidenav-content [tdLayoutManageListClose]="!media.query('gt-sm')">
      <ng-template let-item let-last="last" ngFor [ngForOf]="methods">
        <a mat-list-item
           [ngClass]="{
            'method-selected': item.class === 'true'
           }"
           (click)="methodSelected(item)">
          <mat-icon>{{item.icon}}</mat-icon>
          <h3 matLine class="clickable">{{item.title}}</h3>
        </a>
      </ng-template>
    </mat-nav-list>
    <mat-toolbar color="accent">
      <div layout="row" layout-align="start center" flex>
        <button mat-icon-button tdLayoutManageListOpen [hideWhenOpened]="true">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <span class="title">Comparisons</span>
        <span flex></span>
        <a mat-icon-button *ngIf="mode == 0; else activeRaw" matTooltip="LOGANALYZER is comparing raw logs">
          <mat-icon class="active-icon">view_headline</mat-icon>
        </a>
        <ng-template #activeRaw>
          <a mat-icon-button matTooltip="Compare raw logs" (click)="setMode(0)">
            <mat-icon class="title-icon">view_headline</mat-icon>
          </a>
        </ng-template>
        <a mat-icon-button *ngIf="mode == 1; else noTSActive" matTooltip="LOGANALYZER is comparing logs without timestamp">
          <mat-icon class="active-icon">timer_off</mat-icon>
        </a>
        <ng-template #noTSActive>
          <a mat-icon-button matTooltip="Compare logs without timestamp" (click)="setMode(1)">
            <mat-icon class="title-icon">timer_off</mat-icon>
          </a>
        </ng-template>
        <a mat-icon-button *ngIf="mode == 2; else timeDiffActive" matTooltip="LOGANALYZER is comparing logs with time differentiation">
          <mat-icon class="active-icon">format_indent_increase</mat-icon>
        </a>
        <ng-template #timeDiffActive>
          <a mat-icon-button matTooltip="Compare logs with time differentiation" (click)="setMode(2)">
            <mat-icon class="title-icon">format_indent_increase</mat-icon>
          </a>
        </ng-template>
      </div>
    </mat-toolbar>
    <div *ngIf="active; else default">
      <div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
        <mat-card style="width: 100%">
          <mat-card-content>
            <div style="width: 100%">
              <div class="comparator-section">
                <span class="comp-title">Comparator execution</span>
                <ng-template let-execC ngFor [ngForOf]="execsComparator">
                  <button (click)="execution(execC, 0)" [class]="execC.class">{{execC.id}}</button>
                </ng-template>
              </div>
              <div class="compared-section">
                <span class="comp-title">Compared execution</span>
                <ng-template let-execc ngFor [ngForOf]="execsCompared">
                  <button (click)="execution(execc, 1)" [class]="execc.class">{{execc.id}}</button>
                </ng-template>
              </div>
              <div class="clear"></div>
            </div>
            <div *ngIf="comparison">
              <br>
              <mat-divider></mat-divider>
              <br>
              <table class="diff-table">
                <tbody>
                <tr *ngFor="let result of results">
                  <td [innerHTML]="result.index_p" class="index"></td>
                  <td [innerHTML]="result.com_p.content" [class]="result.com_p.class"></td>
                  <td [innerHTML]="result.indexp" class="index"></td>
                  <td [innerHTML]="result.comp.content" [class]="result.comp.class"></td>
                </tr>
                </tbody>
              </table>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="full-width">
        <button class="find" (click)="generateComparison()">Find difference</button>
      </div>
      <pre class="not-displayed" #process semanticDiff [left]="comparatorText" [right]="comparedText"></pre>
    </div>
    <ng-template #default>
      <div tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
        <mat-card>
          <mat-card-content>
            <p>Select a test to start comparing executions.</p>
          </mat-card-content>
        </mat-card>
      </div>
    </ng-template>
  </td-layout-manage-list>
</td-layout>
