.execs {
  background-color: rgb(195, 195, 195);
  border: none;
  color: #0e0e0e;
  padding: 3px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3em;
}
.title-icon {
  color: white;
}

.active-icon {
  color: #BF360C;
}

.active {
  background-color: rgb(25, 118, 210);
  border: none;
  color: white;
  padding: 3px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3em;
}

.find {
  background-color: rgb(251, 140, 0); /* Green */
  font-size: 21px;
  border: none;
  color: white;
  padding: 0.5em 0.8em;
  border-radius: 0.2em;
  width: auto;
  display: flex;
  justify-content: center;
}

.title {
  color: white;
}

.left {
  float: left;
}

.clickable {
  font-size: 0.9em;
}

.classname {
  font-size: 0.75em;
}

.icon {
  position: absolute;
  right: 0px;
}

.no-margin {
  margin: 0 0px;
}

.full-width {
  width: 100%
}

.meth-active {
  border: none;
  margin: 0;
  background: rgba(0,0,0,.32);
  color: hsla(0,0%,100%,.87);
}

.meth-active mat-icon {
  color: hsla(0,0%,100%,.87);
}

.not-displayed {
  /*display: none;*/
}

.display {
  display: block;
}

.delC {
  background: rgb(252, 216, 217);
  border: 1px solid rgb(154, 35, 40);
}

.insC {
  background: rgb(224, 252, 208);
  border: 1px solid rgb(26, 152, 31);
}

.added {
  background: rgb(204, 204, 204);
  border: 1px solid rgb(166, 166, 166);
}

.diff-table {
  font-family: "Inconsolata", "Consolas", "Monaco";
  font-size: 0.9em;
  background: white;
  width: 100%;
}

.index {
  color: rgb(102, 102, 102);
}
