<mat-card>
  <mat-card-title>
    <div layout="row">
      <span *ngIf="test != undefined">Execution number {{test}}</span>
      <span flex></span>
      <button class="iconBtn-lg  bgc-light-blue-100"
              mat-raised-button
              (click)="reloadTable()">
        <mat-icon class="tc-light-blue-700">refresh</mat-icon>
      </button>&nbsp;
      <button *ngIf="test != undefined" mat-raised-button class="iconBtn-lg" color="accent"
              [routerLink]="['/projects/', project]">
        <mat-icon>arrow_back</mat-icon>
      </button>&nbsp;
      <button mat-raised-button class="iconBtn-lg" color="accent" (click)="goTo()">
        <mat-icon>description</mat-icon>
      </button>&nbsp;
      <button mat-raised-button class="iconBtn-lg" color="accent" (click)="goTo()">
        <mat-icon>description</mat-icon>
      </button>
    </div>
  </mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <td-data-table [data]="logsRowData"
                   [columns]="logsData"
                   [sortable]="false">
    </td-data-table>
  </mat-card-content>
</mat-card>
