<mat-toolbar class="toolbar-view-comp">
  <mat-toolbar-row>
      <div>
        <button mat-raised-button class="iconBtn-lg" color="accent" (click)="updateViewMode(0)"><b>Raw</b>
        </button>&nbsp;&nbsp;<button mat-raised-button class="iconBtn-lg" color="accent" (click)="updateViewMode(1)"><b>By test</b>
      </button>&nbsp;&nbsp;<button mat-raised-button class="iconBtn-lg" color="accent" (click)="updateViewMode(2)"><b>Just errors</b>
      </button>&nbsp;&nbsp;<button mat-raised-button class="iconBtn-lg" color="accent" (click)="updateViewMode(3)"><b>Hide Maven</b></button>
      </div>
      <div>
        <button mat-raised-button class="iconBtn-lg" color="accent"><b>Complete</b></button>&nbsp;&nbsp;<button
        mat-raised-button class="iconBtn-lg" color="accent"><b>No timestamp</b>
      </button>&nbsp;&nbsp;<button mat-raised-button class="iconBtn-lg" color="accent"><b>Time diff</b></button>
      </div>
      <button *ngIf="test != undefined" mat-raised-button class="iconBtn-lg" color="accent"
              [routerLink]="['/projects/', project, test]">
        <mat-icon>arrow_back</mat-icon>
      </button>&nbsp;
      <button mat-raised-button class="iconBtn-lg" color="accent" (click)="openComparisonDialog()">
        <mat-icon>equalizer</mat-icon>
      </button>&nbsp;
  </mat-toolbar-row>
</mat-toolbar>
<mat-card style="margin-top: 100px;">
  <mat-card-content>
    <div *ngIf="comparisonInProgress; else notComparing">
      <ng-template ngFor let-class [ngForOf]="resultData">
        <h3>{{class.name}}</h3>
        <ng-template ngFor let-method [ngForOf]="class.methods">
          <h5>{{method.name}}</h5>
          <table class="diff-table">
            <tbody>
            <tr *ngFor="let result of method.logs">
              <td [innerHTML]="result.index_p" class="index" style="width: 1%"></td>
              <td [innerHTML]="result.com_p.content" [class]="result.com_p.class" style="width: 49%"></td>
              <td [innerHTML]="result.indexp" class="index" style="width: 1%"></td>
              <td [innerHTML]="result.comp.content" [class]="result.comp.class" style="width: 49%"></td>
            </tr>
            </tbody>
          </table>
        </ng-template>
      </ng-template>
    </div>
    <ng-template #notComparing>
      <div *ngIf="viewMode == 0 || viewMode == 3">
        <tr *ngFor="let log of classesL; index as i">
          <td class="index">{{i}}.</td>
          <td>{{log.log}}</td>
        </tr>
      </div>
      <div *ngIf="viewMode == 1">
        <ng-template ngFor let-item [ngForOf]="classesL">
          <h3>{{item.name}}</h3>
          <ng-template ngFor let-itemm [ngForOf]="item.methods">
            <h5>{{itemm.name}}</h5>
            <table class="diff-table">
              <tbody>
              <tr *ngFor="let log of itemm.logs; index as i">
                <td class="index">{{i}}.</td>
                <td>{{log.timestamp}} [{{log.thread}}] {{log.level}} {{log.logger}} - {{log.message}}</td>
              </tr>
              </tbody>
            </table>
          </ng-template>
        </ng-template>
      </div>
    </ng-template>
  </mat-card-content>
</mat-card>
