/* ----  BODY  ----*/
html, body {
  margin:0;
  padding:0;
  height:100%;
}

.content {
  width: 100%;
  margin-bottom: 200px;
  clear: both;
}

.row {
  width: 92%;
  padding-top: 15px;
  margin: auto;
}

.calendar {
  flex-direction: row;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.lineBigger {
  line-height: 1.55;
}

.last {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.form-inline {
  width: 100%;
}

.showMore {
  margin: 0 auto;
  display: block;
}

/* ---- HEADER ---- */
header {
  top: 0;
}

.header-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  height: 50px;

  padding: 0px 45px;
  text-align: left;
  font: normal 16px sans-serif;
}

.header-distributed .header-left {
  float: left;
  margin-top: 10px;
}

.header-distributed .header-left p {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  padding: 0;
  line-height: 1.8;
}

.header-distributed .header-right {
  float: right;
  margin-top: 10px;
}

.header-distributed .header-right p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}

.header-distributed p.header-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
}

.header-distributed p.header-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  margin-right: 10px;
}

@media (max-height: 800px) {
  header {
    position: static;
  }
}

@media (max-width: 600px) {

  .header-distributed .header-left,
  .header-distributed .header-right {
    text-align: center;
  }

  .header-distributed .header-right {
    float: none;
    margin: 0 auto 20px;
  }

  .header-distributed .header-left p.header-links {
    line-height: 1.8;
  }
}

/* ---- FOOTER ---- */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 2px;
}

@media (max-height: 800px) {
  footer {
    position: static;
  }
}

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;

  padding: 45px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-left: 3px;
}

@media (max-width: 600px) {

  .footer-distributed .footer-left,
  .footer-distributed .footer-right {
    text-align: center;
  }

  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }

  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}
